/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	list-style-type: none;
}

/*BOX MODEL */
nav, div, header, footer, aside, section, article {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}


/* FONT */

@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne__limousines-webfont.eot');
    src: url('../fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'champagne__limousinesitalic';
    src: url('../fonts/champagne__limousines_italic-webfont.eot');
    src: url('../fonts/champagne__limousines_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines_italic-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines_italic-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines_italic-webfont.svg#champagne__limousinesitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'champagne__limousinesbold';
    src: url('../fonts/champagne__limousines_bold-webfont.eot');
    src: url('../fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines_bold-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines_bold-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'champagne__limousinesBdIt';
    src: url('../fonts/champagne__limousines_bold_italic-webfont.eot');
    src: url('../fonts/champagne__limousines_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines_bold_italic-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines_bold_italic-webfont.svg#champagne__limousinesBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* GENERAL */

.wrapper{
	width:960px;
	margin: auto;

}

.wrapper:after{
	content:"";
	display:block;
	clear: both;
}

body{
	font-family: 'champagne__limousinesregular';
}

	/* HEADER */

	#header-top{
		background-color: #242424;
		height: 2em;
	}

	#header-top h1{
		color: #57c5a0;
		float: left;
	}

	#header-top ul{
		float: right;
		color: grey;
		margin-left:1rem;
	}